<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body d-flex align-items-end justify-content-between">
            <h1 class="text-white">Setting</h1>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <!-- Form -->
    <div class="col-xl-12">
        <form id="setting" [formGroup]="settingForm">
            <table class="formBackground p-8">
                <!-- Time to accept request -->
                <div class="mt-2 ml-2"><b>Cron Settings</b></div>
                <tr>
                    <td class="">Time to accept request:</td>
                    <td>
                        <select class="setting-input" formControlName="timeToAcceptRequest" name="timeToAcceptRequest" id="timeToAcceptRequest">
                            <option disabled selected hidden [value]="null" >Select time to accept request</option>
                            <option [value]="timeCount" *ngFor="let timeCount of timeCountList">{{timeCount}} </option>
                        </select>
                        <br>
                        <div>
                            <strong *ngIf="settingForm.get('timeToAcceptRequest').invalid && settingForm.get('timeToAcceptRequest').touched">Please select time to accept request</strong>
                        </div>
                    </td>
                </tr>
                <!-- Stops in between two destination -->
                <div class="mt-3"></div>
                <tr>
                    <td>Stops allowed while travelling:</td>
                    <td>
                        <select class="setting-input" id="stopsInBetweenDestination" formControlName="stopsInBetweenDestination" name="stopsInBetweenDestination">
                            <option disabled selected hidden [value]="null" >Select stops in-Between destination</option>
                            <option *ngFor="let stop of stopCountList" [value]="stop" >{{stop}}</option>
                        </select>
                        <br>
                        <div>
                            <strong *ngIf="settingForm.get('stopsInBetweenDestination').invalid && settingForm.get('stopsInBetweenDestination').touched">Please select number of stops allowed while traveling</strong>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><hr></td>
                    <td class="pr-5"><hr></td>
                </tr>
                <!-- Stripe setting -->
                <div class="mt-2"><b>Strpe Settings</b></div>
                <tr>
                    <td>public key</td>
                    <td>
                        <input class="setting-input" style="width: 60rem;" name="stripePublicKey" type="text" formControlName="stripePublicKey" id="stripePublicKey">
                        <div>
                            <strong *ngIf="settingForm.get('stripePublicKey').invalid && settingForm.get('stripePublicKey').touched">Please enter a valid public key for stripe</strong>
                        </div>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>Secret key</td>
                    <td>
                        <input class="setting-input" style="width: 60rem;" name="stripeSecretKey" type="text" formControlName="stripeSecretKey" id="stripeSecretKey">
                        <div>
                            <strong *ngIf="settingForm.get('stripeSecretKey').invalid && settingForm.get('stripeSecretKey').touched">Please enter a valid secret key for stripe</strong>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><hr></td>
                    <td class="pr-5"><hr></td>
                </tr>
                <!-- SMS setting -->
                <div class="mt-2"><b>SMS Settings</b></div>
                <tr>
                    <td>Account SID</td>
                    <td>
                        <input class="setting-input" name="messagingSID" type="text" formControlName="messagingSID" id="messagingSID">
                        <div>
                            <strong *ngIf="settingForm.get('messagingSID').invalid && settingForm.get('messagingSID').touched">Please enter a valid SID for messaging</strong>
                        </div>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>Authentication token</td>
                    <td>
                        <input class="setting-input" name="messagingAuthToken" type="text" formControlName="messagingAuthToken" id="messagingAuthToken">
                        <div>
                            <strong *ngIf="settingForm.get('messagingAuthToken').invalid && settingForm.get('messagingAuthToken').touched">Please enter a valid authentication token for messaging</strong>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><hr></td>
                    <td class="pr-5"><hr></td>
                </tr>
                <!-- Mail setting -->
                <div class="mt-2"><b>Mail Settings</b></div>
                <tr>
                    <td>Client ID:</td>
                    <td>
                        <input class="setting-input" style="width: 36rem;" name="mailClientID" type="text" formControlName="mailClientID" id="mailClientID">
                        <div>
                            <strong *ngIf="settingForm.get('mailClientID').invalid && settingForm.get('mailClientID').touched">Please enter a valid Client ID for mail</strong>
                        </div>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>Client Secret: </td>
                    <td>
                        <input class="setting-input" name="mailClientSecret" type="text" formControlName="mailClientSecret" id="mailClientSecret">
                        <div>
                            <strong *ngIf="settingForm.get('mailClientSecret').invalid && settingForm.get('mailClientSecret').touched">Please enter a valid client secret for mail</strong>
                        </div>
                    </td>
                </tr>
                <br><br>
                <!-- Action button -->
                <tr>
                    <td>
                        <button class="btn btn-success" id="submit" type="submit" (click)="updateSetting()">Update setting</button>
                    </td>
                </tr>
                <div class="mb-5"></div>
            </table>
        </form>
    </div>
</div>