.label-input{
    width: 9rem;
}

tr td {
    padding-bottom: 1.5rem;
}

.selected-row {
    background-color: #588fc9;
    color: #fff;
}

#map{
    height: 250px;
    width: 23rem;
}

.form-control option {
    // background-color: black;
    color: black;
}

.ride{
    width: auto;
}