<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body d-flex align-items-end justify-content-between">
            <h1 class="text-white">Confirmed Ride</h1>
        </div>


        <div class="row">
          <div class="col-xl-12">
              <form class="navbar-search navbar-search-dark form-inline mr-5 d-none d-md-flex ml-lg-auto" >
                <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }" >
                  <label for="vehicleName" class="text-white mr-2">Search Driver <span class="text-white ml-1">:</span> </label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" id="searchRide" name="searchRide" placeholder="Search" type="text" (focus)="focus = true" (blur)="focus = false" >
                  </div>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-success" id="submit" type="submit">Search Ride</button>
                </div>
              </form>
          </div>
      </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row mt-3">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Confirmed Ride</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                
                <!-- Table header section -->
                <thead class="thead-light">
                    <tr class="text-center">
                      <th scope="col" >Request Id</th>
                      <!-- <th scope="col" >User Id</th> -->
                      <th scope="col" >User Name</th>
                      <th scope="col" class="text-wrap">Pick up location</th>
                      <th scope="col" class="text-wrap">Drop location</th>
                      <th scope="col" >Service type</th>
                      <th scope="col" >Status</th>
                      <th scope="col" class="text-wrap">Full information</th>
                      <th scope="col" >Action</th>
                    </tr>
                  </thead>

                <!-- Table body section -->
                <tbody>
                  <tr *ngFor="let ride of rideDataList | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" class="text-center text-capitalize">
                    <ng-container *ngIf="ride.rideStatus > 0 && ride.rideStatus < 4">
                      <td class="text-wrap">{{ride._id}}</td>
                      <!-- <td class="text-wrap">{{ride.user._id}}</td> -->
                      <td>{{ride.user.userName}}</td>
                      <td class="text-wrap">{{ride.ridePickUpLocation}}</td>
                      <td class="text-wrap">{{ride.rideDropLocation}} </td>
                      <td>{{ride.vehicleType.vehicleName}} </td>
                      <td>
                        <span *ngIf="ride.rideStatus === 1 || ride.rideStatus === 2 || ride.rideStatus === 3"class="badge badge-dot mr-4"><i class="bg-warning"></i>{{ride.rideStatus | rideStatus}}</span>
                      </td>
                      <td>
                        <img src="assets/img/icons/fullRideInfo.png" alt="getFullInfo" srcset="" height="20px" width="20px" (click)="getFullRideInfo(content, i)">
                      </td>
                      <td>
                        <button class="btn btn-info" [id]="ride._id" (click)="getDriverDetailsForRide(contentDriverInfo, ride, i); rideDetails = ride" *ngIf="ride.rideStatus != 3">
                          <span *ngIf="ride.rideStatus == 1">Assign</span>
                          <span *ngIf="ride.rideStatus == 2">Re-assign</span>
                        </button>
                        <label for="driverName" class="btn" *ngIf="ride.rideStatus == 3 && ride.driver[0]">{{ride.driver[0].driverName}}</label>
                        <button class="btn btn-danger" [id]="ride._id" (click)="cancelRide($event.target.id)" *ngIf="ride.rideStatus != 3">Cancel</button>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>

              </table>
            </div>

            <!-- Pagination buttons -->
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-center mb-0">
                  <pagination-controls (pageChange)="p = $event;"></pagination-controls>
                </ul>
                <!-- <ul class="pagination justify-content-end mb-0">
                  <li class="page-item disabled">
                    <a class="page-link" href="javascript:void(0)" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="javascript:void(0)">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul> -->
              </nav>
            </div>
          </div>
        </div>
    </div>

    <!-- Display full ride info -->
    <ng-template #content let-modal>
      <div class="modal-header">
          <h4>Full ride info</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <table>
          <tbody *ngFor="let ride of fullRideData">
            <tr>
              <td class="label-input">Ride id: </td>
              <td>{{ride._id}} </td>
            </tr>
            <tr>
              <td class="label-input">User id: </td>
              <td>{{ride.rideCustomerId}} </td>
            </tr>
            <tr>
              <td class="label-input">User name: </td>
              <td>{{ride.user.userName}} </td>
            </tr>
            <tr>
              <td class="label-input">User contact no: </td>
              <td>{{ride.user.userPhone}} </td>
            </tr>
            <tr>
              <td class="label-input">User email: </td>
              <td>{{ride.user.userEmail}} </td>
            </tr>
            <tr>
              <td class="label-input">Vehicle type: </td>
              <td>{{ride.vehicleType.vehicleName}} </td>
            </tr>
            <tr>
              <td class="label-input">Pick point: </td>
              <td><li>{{ride.ridePickUpLocation}}</li> </td>
            </tr>
            <ng-container *ngIf="(ride.rideIntermediateStops).length > 0">
              <tr *ngFor="let rideStops of ride.rideIntermediateStops; let i = index">
                <td class="label-input" *ngIf="i == 0">Intermediate stops: </td>
                <td class="label-input" *ngIf="i > 0"></td>
                <td>
                  <li>{{rideStops}}</li>
                </td>
              </tr>
            </ng-container>
            <tr>
              <td class="label-input">Drop point: </td>
                <td><li>{{ride.rideDropLocation}}</li> </td>
            </tr>
            <tr>
              <td class="label-input">Ride Date and Time: </td>
                <td>{{ride.rideDateTime | date}} {{ride.rideDateTime | date: 'shortTime'}} </td>
            </tr>
            <tr>
              <td class="label-input">Ride Distance: </td>
                <td>{{ride.rideDistance}} km</td>
            </tr>
            <tr>
              <td class="label-input">Total travel time: </td>
                <td>{{ride.rideTime | convertMinutesToHoursAndMinutes}}</td>
            </tr>
            <tr>
              <td class="label-input">Estimated Fare: </td>
                <td>{{ride.country.countryCurrencySymbol}} {{ride.rideFare}}</td>
            </tr>
            <tr>
              <td class="label-input">Payment method: </td>
                <td *ngIf="ride.ridePaymentMethod == 0">Cash </td>
                <td *ngIf="ride.ridePaymentMethod == 1">Card </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">Close</button>
      </div>
    </ng-template>

    <!-- Display driver info -->
    <ng-template #contentDriverInfo let-modal>
      <div class="modal-header">
          <h4>Assign Driver</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <!-- Trip info -->
        <h4>Trip info</h4>
        <table>
          <tbody *ngFor="let ride of fullRideData">
            <tr>
              <td class="label-input">User name: </td>
              <td>{{ride.user.userName}} </td>
            </tr>
            <tr>              
              <td class="label-input">Vehicle type: </td>
              <td>{{ride.vehicleType.vehicleName}} </td>
            </tr>
            <tr>
              <td class="label-input">Pick point: </td>
              <td>{{ride.ridePickUpLocation}} </td>
            </tr>
            <ng-container *ngIf="(ride.rideIntermediateStops).length > 0">
              <tr *ngFor="let rideStops of ride.rideIntermediateStops; let i = index">
                <td class="label-input" *ngIf="i == 0">Intermediate stops: </td>
                <td class="label-input" *ngIf="i > 0"></td>
                <td>
                  <li>{{rideStops}}</li>
                </td>
              </tr>
            </ng-container>
            <tr>
              <td class="label-input">Drop point: </td>
              <td>{{ride.rideDropLocation}} </td>
            </tr>
            <tr>
              <td class="label-input">Ride Date and Time: </td>
              <td>{{ride.rideDateTime | date}} {{ride.rideDateTime | date: 'shortTime'}} </td>
            </tr>
          </tbody>
        </table>

        <!-- Driver info -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr class="text-center">
              <th scope="col" >Driver Id</th>
              <th scope="col" >Driver Name</th>
              <th scope="col" >Driver Phone</th>
              <th scope="col" >Driver Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let driver of driverList; let i = index" [id]="i" [ngClass]="{'selected-row': selectedRowIndex === i}" (click)="selectedRowIndex = i" class="text-center text-capitalize">
              <td class="text-wrap">{{driver._id}}</td>
              <td>{{driver.driverName}}</td>
              <td class="text-wrap">{{driver.driverPhone}}</td>
              <td class="text-wrap">{{driver.driverEmail}} </td>
            </tr>
            <tr>
              <td><button type="button" class="btn btn-outline-primary" (click)="assignSelectedDriver()">Assign Selected Driver</button></td>
              <td><button type="button" class="btn btn-outline-primary" (click)="assignRandomDriver()">Assign Nearest Driver</button></td>
            </tr>
          </tbody>

        </table>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">Close</button>
      </div>
    </ng-template>
</div>