.label-input{
    width: 9rem;
}

tr td {
    padding-bottom: 1rem;
}

.selected-row {
    background-color: #588fc9;
    color: #fff;
}

.form-control option {
    // background-color: black;
    color: black;
}

.ride{
    width: auto;
}