.label-input{
    width: 150px;
}

.user-input{
    width: 23rem;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.625rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8898aa;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cad1d7;
    border-radius: 0.375rem;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    overflow: visible;

    font-family: inherit;
    font-size: 0.875rem;
    box-sizing: border-box;
    outline: none;
}

.countryCodeInput{
    width: 4rem;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.625rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8898aa;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cad1d7;
    border-radius: 0.375rem;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    overflow: visible;

    font-family: inherit;
    font-size: 0.875rem;
    box-sizing: border-box;
    outline: none;
}

.scrollable-content {
    max-height: 200px; 
    overflow-y: auto;
  }